{% extends "polls/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet"  type="text/css" href="{% static 'styling/courseWork.css' %}">

  <div class="container">
    <div class="jumbotron text-black rounded" style="background-color: white; padding-top: 20px; padding-bottom: 20px; border: 0.5px rgba(207, 207, 207, 0.705) solid;">
        <!--<h5 class="display-4 font-italic" style="padding-left: 15px; color: rgba(19, 161, 255, 0.459)">Course Work</h5>
        <hr>-->
        <h4 style="padding-left: 15px; padding-top: 5px; padding-bottom: 5px; word-spacing: 445px"><strong>Computer-Science Linguistics</strong></h4>
        <!--<h4 style="padding-right: 215px; text-align: right"><strong>Linguistics</strong></h4>-->
        <hr>
        <div class="grid-container" style="display: grid; grid-template-columns: 50% 50%; grid-gap: 15%">
          <div>
            <h5>1st Year</h5>
              <ul class="list-unstyled">
                <li>CS 1110: Introduction to Programming</li>
              </ul>

            <h5>2nd Year</h5>
            <ul class="list-unstyled">
              <li>CS 2102: Discrete Mathematics</li>
              <li>CS 2110: Software Development Methods</li>
            </ul>

            <h5>3rd Year</h5>
            <ul class="list-unstyled">
              <li>CS 2150: Program & Data Representation</li>
              <li>CS 3240: Advanced Software Development</li>
              <li>CS 4102: Algorithms</li>
            </ul>

            <h5>4th Year</h5>
            <ul class="list-unstyled">
              <li>CS 2910: CS Education Practicum</li>
              <li>CS 3330: Computer Architecture</li>
              <li>CS 4640: PL for Web Applications</li>
              <li>CS 4740: Cloud Computing</li>
              <li>CS 4750: Database Systems</li>
            </ul>
          </div>

          <div>
            <h5>1st Year</h5>
              <ul class="list-unstyled">
              </ul>

            <h5>2nd Year</h5>
            <ul class="list-unstyled">
              <li>ANTH 2410: Sociolinguistics</li>
              <li>ANTH 3480: Language and Prehistory</li>
              <li>EDHS 4300: Psycholinguistics & Communication</li>
            </ul>

            <h5>3rd Year</h5>
            <ul class="list-unstyled">
              <li>LING 3250: Intro to Linguistic Theory</li>
              <li>LING 3400: Structure of English</li>
              <li>ANTH 3490: Language and Thought</li>
              <li>ANTH 5410: Phonology</li>
            </ul>

            <h5>4th Year</h5>
            <ul class="list-unstyled">
              <li>ANTH 2430: Languages of the World</li>
              <li>ANTH 2541: Topics in Linguistics: Language <br> Death & Revitalization</li>
              <li>MEST 2450: Languages Israeli Nationhood</li>
            </ul>
          </div>
        </div>
    </div>
  </div>


{% endblock content %}